<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Tu as demandé un potin en particulier ?</h1>


    <h2>Le voici :
      Potin n°<%= id%></h2>

    <p>
      De : <%= gossip.author %>
    </p>
    <p>
      Le potin : <%= gossip.content %>
    </p>

    <p>
      <a href='<%= id%>/edit/'> Editer le potin </a>
    </p>
    
    <p>
    <a href='/'>Retour à la page des potins</a>
    </p>
  </body>
</html>